@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url(fonts/font-awesome.css);
body {
  font-family: "Roboto" !important;
  background-image: url("images/backgroundpattern.png");
  margin: 0;
  position: relative;
  height: 100%;
  /* Height of the footer */
  padding-top: 60px;
  min-height: 180px; }

/*

react css

*/
.active {
  text-decoration: none !important; }

/* overriding bootstrap a tag properties*/
a {
  text-decoration: none !important; }

/* the 'connected to browserSync' every refresh is tiresome okay.*/
#__bs_notify__ {
  display: none !important; }

@media (min-width: 992px) {
  .heroButtonContainer {
    height: 120px !important;
    justify-content: center !important; }

  .heroButtonGetStarted {
    align-self: center; }

  .heroDescription {
    width: 440px !important; } }
@media (max-width: 650px) {
  .aboutCardsContainer {
    padding: 5px !important; } }
.aboutCardsComponentContainer {
  transition: all 300ms;
  box-shadow: none; }

.aboutCardsComponentContainer:hover {
  transition: all 300ms;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 14px 45px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 18px; }

.heroContainer {
  padding-left: 24px; }

#drawerIcon {
  color: #757575;
  font-size: 24px; }

.container222 {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0; }

.editorTabContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column; }

.content {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 20px; }

.courseTitleImageEditorContainer {
  width: 80%; }

.chapterTitleImageEditorContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
  padding-bottom: 20px;
  padding-top: 20px; }

.removeChapterButton {
  align-self: flex-end;
  position: absolute !important;
  top: 20px; }

.cardMediaItem {
  -webkit-animation: fadein 300ms;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 300ms;
  /* Firefox < 16 */
  -ms-animation: fadein 300ms;
  /* Internet Explorer */
  -o-animation: fadein 300ms;
  /* Opera < 12.1 */
  animation: fadein 300ms; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.searchButtonNavbar {
  color: white !important; }

#minHeight {
  min-height: 500px; }

.example-enter {
  opacity: 0.01; }

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.example-leave {
  opacity: 1; }

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

.appbarFixed {
  position: fixed !important;
  top: 0 !important; }

.drawerLogoh1 {
  margin: 0;
  font-weight: 300;
  background-color: #03a9f4 !important;
  color: #ffffff !important;
  padding-left: 21px; }

.whiteText {
  color: #ffffff !important; }

.drawerLogoContainer {
  background-color: #03a9f4 !important;
  width: 100%;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px; }

.appbarUserAvatarAndImage {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center; }

.appbarUserAvatarAndImage2 {
  align-self: center !important;
  padding: 0 !important; }

.container {
  height: 100%; }

.circularLoader {
  padding: 10px; }

.userProfileAboutUserImage {
  width: 80px;
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: 5px;
  align-self: center; }

.userProfileAboutUserImageAndUsernameContainer {
  display: flex;
  justify-content: center;
  height: 190px;
  background-color: #212121 !important; }

.userProfileAboutLeftIconEmail {
  align-self: center;
  fill: #757575 !important; }

.userProfileAboutEmail {
  align-self: center;
  top: 0px;
  padding-left: 33px; }

.userProfileAboutUserName {
  padding-top: 0px;
  padding-bottom: 0px; }

.heroImage {
  display: flex;
  max-width: 100%;
  height: auto; }

.heroContainer {
  display: flex;
  padding: 72px 24px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #ff5722 !important; }

.heroDescription {
  color: #ffffff !important;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 300;
  text-align: center; }

.heroTitle {
  color: #ffffff !important;
  margin-top: 0px;
  font-weight: 300; }

.homePurpose {
  padding: 72px 24px;
  background-color: #e0e0e0 !important;
  display: flex;
  justify-content: center; }

.homePurposeText {
  margin-top: 19px;
  margin-bottom: 13px;
  margin-left: 10px;
  padding-right: 10px;
  padding-left: 0px;
  padding-bottom: 0px;
  white-space: normal;
  width: 540px; }

.heroButtonContainer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: #ff5722 !important; }

.heroButtonGetStarted {
  color: #ffffff !important;
  height: 0px; }

.aboutCardsContainer {
  padding: 72px 24px;
  background-color: #ffffff !important;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.cardComponentTitle {
  line-height: 2em;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87) !important;
  background-color: #e0e0e0 !important; }

.cardComponentImg {
  height: 304px;
  width: 100%; }

.aboutCardsComponentContainer {
  margin: 10px;
  cursor: pointer;
  width: 299px;
  height: 351px; }

.footerContainer {
  padding: 72px 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #212121 !important; }

#githubIconDrawer {
  color: #757575 !important;
  font-size: 24px; }

.courseListItemAvatar {
  align-self: center;
  margin-right: 25px;
  position: initial;
  flex-shrink: 0; }

.courseListItemTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  width: 156px; }

.courseListItemTitleContainer {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column; }

.courseListItemSubTitleAuthor {
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 12px;
  align-self: flex-start;
  margin-top: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  width: 156px; }

#card {
  width: 250px;
  height: 250px;
  cursor: pointer;
  margin: 10px; }

.finishedCard {
  width: 250px;
  height: 286px;
  cursor: pointer;
  margin: 10px; }

.cardImage {
  width: 250px;
  height: 250px;
  cursor: pointer; }

.userHomePage {
  padding: 10px; }

.userhomepagedivider {
  margin-bottom: 10px; }

.cardTitleContainer {
  display: flex;
  flex-direction: column;
  width: 205px;
  flex-shrink: 0; }

.cardIndexLink {
  width: 250px;
  height: 250px; }

.cardOverlayContainer {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-stretch: 0;
  width: 100%; }

.appBarContainer {
  display: flex;
  flex-direction: row; }

.appbarSearch {
  align-self: center;
  color: #ffffff !important;
  margin-right: 5px;
  cursor: pointer; }

.paperEditorContent {
  padding: 10px;
  margin: 40px; }

.slideContainer {
  padding: 10px; }

.removeChapterButtonColor {
  color: #e53935 !important; }

.publishCourseButtonEditor {
  color: #ffffff !important;
  margin-right: 10px;
  height: 36px; }

.courseEditorTextFieldsContainer {
  display: flex;
  flex-direction: column;
  flex-stretch: 0;
  width: 80%;
  margin: auto; }

.editorContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 36px; }

.cardOverlayAvgRating {
  color: #ffffff !important;
  display: flex;
  justify-content: center;
  align-self: center; }

.cardStar {
  color: #fbc02d !important; }

.cardRatingAvg {
  align-self: center;
  position: relative;
  left: -13px; }

.errorFollowingButton {
  background-color: #e53935 !important;
  color: #ffffff !important; }

.followedFollowingButton {
  line-height: 0px !important;
  margin-left: 10px !important;
  background-color: #7cb342 !important;
  color: #ffffff !important; }

.followButton {
  line-height: 0px !important;
  margin-left: 10px !important; }

.commentContentContainer {
  padding: 10px;
  margin: 25px; }

.commentContainer {
  width: 100%;
  display: flex; }

.commentUserImage {
  height: 48px;
  width: 48px;
  margin: 16px; }

.createCommentContainer {
  display: flex;
  flex-wrap: nowrap; }

.mCreateCommentContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 710px; }

.createCommentSubmitButton {
  align-self: flex-end;
  margin-right: 16px;
  color: #ffffff !important; }

.commentDateAndDescriptionContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  max-width: 710px;
  min-height: 48px; }

.commentAuthor {
  margin-bottom: 5px; }

.commentContent {
  margin-bottom: 5px;
  margin-top: 5px;
  word-wrap: break-word;
  max-width: 470px; }

.commentDate {
  font-weight: 300;
  align-self: flex-end;
  margin-right: 16px; }

.commentViewMore {
  align-self: flex-end; }

.authorAndCommentContentContainer {
  display: flex;
  flex-direction: column;
  min-height: 48px;
  margin-top: 16px; }

.commentMoreAndDateContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse; }

.searchCoursesResultContainer {
  display: flex;
  flex-wrap: wrap; }

.meAboutContainer {
  width: 420px;
  align-self: center; }

.finishedCoursesContainer {
  width: 80%;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  align-self: center; }

.aboutContainer {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.lightHeader {
  font-weight: 300; }

.tableRemoveStudents {
  display: flex;
  justify-content: flex-end;
  flex-direction: row; }

.removeStudentsFromCourseButtonContainer {
  height: 36px;
  align-self: center; }

.finishedCourseItemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }

.iFrame {
  width: 300px; }

.bannerContainer {
  width: 100%;
  background-color: #ff5722 !important;
  display: flex;
  justify-content: space-between;
  flex-direction: row; }

#certificate {
  color: #ffc107 !important;
  font-size: 2em;
  padding: 10px; }

.iFramedescriptionContainer {
  padding: 20px;
  height: 100px;
  background-color: #ffffff !important;
  text-overflow: ellipsis; }

.iFrameHeaderTitle {
  font-size: 1.5em;
  color: #ffffff !important;
  align-self: center; }

.iFrameHeaderLogo {
  height: auto;
  width: 90px;
  align-self: center;
  padding-right: 10px; }

.certificateAndIframeHeaderTitleContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row; }

.appbarButtonNotLoggedIn {
  color: #ffffff !important;
  margin-top: 6px !important; }

.whiteIcon {
  fill: #ffffff !important; }

@media (max-width: 650px) {
  .paperEditorContent {
    margin: 24px 0px 24px 0px; }

  .commentContentContainer {
    margin: 24px 0px 24px 0px; }

  .finishedCoursesContainer {
    margin: 24px 0px 24px 0px; } }
.loaderCenterContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; }

.StudentHomePageHeader {
  display: flex;
  height: 170px;
  width: 100%;
  justify-content: center;
  align-items: center; }

.StudentHomePageHeaderContent {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 2em;
  z-index: 2; }

.StudentHomePageContentLogo {
  width: 250px;
  align-self: center;
  padding: 5px; }

.StudentHomePageSubText {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f5f5f5; }

.StudentHomePageSubTextText {
  width: 50%; }

.StudentHomeCourses {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #ffffff;
  width: 80%;
  margin: auto; }

.StudentHomeCoursesCard {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 5px; }

.StudentHomeCoursesCardImage {
  width: 250px;
  height: 250px; }

.StudentHomeCoursesCardTitle {
  background-color: #e0e0e0;
  line-height: 35px;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  width: 250px;
  color: black; }

.StudentHomeIndexLinkImageAndCardTitle {
  display: flex;
  flex-direction: column; }

.TeacherHomegreyedOutTextNoOwnedCourses {
  font-size: 2em;
  color: #9e9e9e; }

.TeacherHomegreyedOutTextNoOwnedCoursesContainer {
  width: 100%;
  text-align: center; }

.TeacherHomeCreateCourseButton {
  margin: 10px; }

.CreateCourseTitleAndImageURLContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px; }

.CreateCourseTitleTextField, .CreateCourseImgURLTextField {
  width: 50% !important; }

.CreateCourseTitleTextField {
  align-self: center;
  margin-right: 20px; }

.CreateCourseImgURLTextField {
  align-self: center; }

.CreateCourseSlideContainer {
  padding: 10px; }

.AboutMeHeader {
  width: 100%;
  height: 270px;
  background-size: cover;
  background-image: url("./images/students-bg.jpg"); }

.AboutMeDisplayImage {
  height: 100px; }

.AboutMeDisplayImageContainer {
  padding: 15px;
  background-color: #ffffff;
  position: absolute;
  left: 25px;
  top: -80px; }

.paperEditorContentAboutMe {
  width: 80%;
  margin: auto;
  max-width: 934px;
  position: relative;
  overflow: visible !important; }

.AboutMeUserNameContainer {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 200px; }

.AboutMeUserName {
  font-size: 2em; }

.TabsContainer {
  width: 80%;
  max-width: 934px;
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 270px;
  align-items: flex-end;
  justify-content: flex-end; }

.AboutMeTabsContainer {
  align-self: flex-end;
  width: 35%;
  min-width: 380px; }

.AboutMeUserDataContainer {
  padding-left: 25px; }

.AboutMegreyedOutTextNoFinishedCoursesContainer {
  width: 100%;
  text-align: center;
  padding-top: 10px; }

.AboutMegreyedOutTextNoFinishedCoursesContent {
  font-size: 2em;
  color: #9e9e9e; }

.TeacherBoardPageNoStudentsFollowed {
  font-size: 2em;
  color: #9e9e9e;
  text-align: center; }

.TeacherBoardPageNoStudentsFollowedContainer {
  width: 100%;
  text-align: center;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center; }

.AboutMeSmallText {
  font-size: 1em;
  color: #9e9e9e; }

.AboutMeFinishedCourseItemImage {
  width: 350px;
  height: 150px; }

.AboutMeFinishedCourseItemContainer {
  width: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column; }

.AboutFinishedCourseItemContentContainer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px; }

.AboutFinishedCourseItemContentTitle {
  font-size: 1.5em;
  align-self: flex-start; }

.AboutFinishedCourseItemContentAuthor {
  align-self: flex-end; }

.AboutMeFinishedCourseItemsContainer {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.AboutMeSwipeTabs {
  overflow-x: visible !important; }

.ViewCourseHeaderContainer {
  height: 270px;
  background-color: #212121;
  width: 100%; }

.ViewCourseCourseTitle {
  font-size: 2em;
  color: #ffffff;
  position: absolute;
  top: -50px; }

.ViewCourseCourseAuthor {
  font-size: 1.5em; }

.paperViewCourseContainer {
  width: 80%;
  margin: auto;
  max-width: 934px;
  position: relative;
  padding: 20px;
  overflow: visible !important;
  min-height: 200px; }

.ViewCourseCourseAuthorSmallText {
  font-size: 1em;
  color: #9e9e9e; }

.ViewCourseImageContainer {
  width: 80%;
  max-width: 934px;
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 270px;
  align-items: center;
  justify-content: flex-end; }

.ViewCourseImage {
  height: 150px;
  max-width: 260px;
  background-color: #ffffff;
  padding: 7px;
  border-radius: 7px; }

.paperViewCourseCommentContainer {
  width: 80%;
  margin: auto;
  max-width: 934px;
  position: relative;
  padding: 20px;
  overflow: visible !important;
  min-height: 200px;
  margin-top: 20px; }

.ViewCourseCreateCommentImage {
  max-height: 50px;
  max-width: 50px;
  margin-right: 10px; }

.ViewCourseCreateCommentImageAndTextField {
  display: flex;
  max-height: 50px;
  flex-direction: row;
  flex: 3; }

.ViewCourseCreateCommentTextfield {
  height: 45px;
  width: 100%; }

.ViewCourseCreateCommentContainer {
  display: flex;
  flex-direction: row; }

.NotFoundErrorContainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center; }

.NotFoundErrorContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.TeacherHomeMyCourseContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 133px; }

.MyCourseImage {
  width: 200px;
  height: 130px; }

.MyCourseTitle {
  font-size: 1.5em; }

.paperEditorContentTeacher {
  width: 80%;
  margin: auto;
  max-width: 934px;
  position: relative;
  overflow: visible !important;
  margin-top: 40px; }

.MyCourseTitleAndDescriptionAndImageContainer {
  display: flex;
  align-items: center; }

.MyCourseTitleAndDescriptionContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px; }

.MyCourseButtonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.EditCourseButton {
  margin-right: 5px;
  height: 36px; }

.StudentButton {
  height: 36px; }

.removeCourseButton {
  align-self: flex-end; }

.MyCoursesDivider {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.ViewCourseTitleAndAuthorEmailContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.LoaderText {
  font-size: 2em;
  color: #ff5722; }

.LoaderContainer {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 390px; }

.StudentHomeCoursesGoToCourseDirectlyButton {
  width: 100%;
  height: 36px; }

@media (max-width: 670px) {
  .MyCourseTitleAndDescriptionAndImageContainer {
    flex-direction: column;
    align-items: center;
    height: auto; }

  .TeacherHomeMyCourseContainer {
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; }

  .removeCourseButton {
    align-self: flex-start;
    margin-bottom: 5px;
    height: 36px;
    width: 100%; }

  .MyCourseButtonsContainer {
    margin-top: 10px; }

  .paperEditorContentTeacher {
    margin-top: 0px; }

  .ViewCourseTitleAndAuthorEmailContainer {
    align-items: center;
    justify-content: center; }

  .FollowButtons {
    padding-top: 10px; }

  .ViewCourseGoToCourse {
    width: 100%;
    margin-bottom: 10px;
    height: 36px; }

  .followedFollowingButton {
    width: 100%;
    height: 36px;
    margin-left: 0px !important; }

  .errorFollowingButton {
    width: 100%;
    height: 36px; }

  .followButton {
    width: 100%;
    height: 36px;
    margin-left: 0px !important; } }
#minHeightAndFlex {
  min-height: 400px;
  display: flex;
  flex-wrap: wrap; }

.NavigationAndDrawerDrawerContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between; }

.NavigationAndDrawerDrawerFooter {
  text-align: center;
  background-color: #e0e0e0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: column; }

.NavigationAndDrawerDrawerFooterTitle {
  font-weight: 500;
  font-size: 0.8em;
  color: black; }

.NavigationAndDrawerFooterSubText {
  font-size: 0.8em;
  color: #9e9e9e; }

.iFrameContainer {
  width: 250px;
  display: flex;
  flex-direction: column;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0; }

.iFrameImage {
  width: 250px;
  height: 200px; }

.iFramePaperContainer {
  width: 100%;
  padding: 5px;
  height: 100px; }

.iFrameTitle {
  font-size: 1.5em;
  font-weight: 500; }

.iFrameContent {
  font-size: 1em;
  width: 100%; }

.TeacherHomeViewStatsContainer {
  display: flex;
  flex-wrap: wrap;
  min-height: 250px;
  width: 100%; }

.TeacherHomeStatsTotalViewsContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.TeacherHomeTotalView {
  font-size: 2.5em; }

.TeacherHomeTitle {
  font-size: 2em;
  white-space: nowrap;
  color: #bdbdbd; }

@media (max-width: 1170px) {
  .paperEditorContentAboutMe, .TabsContainer, .paperViewCourseContainer, .ViewCourseImageContainer, .paperViewCourseCommentContainer, .paperEditorContentTeacher {
    width: 95%; } }
@media (max-width: 575px) {
  #minHeightAndFlex, .StudentHomeCoursesCard, .StudentHomeCoursesCardImage, .StudentHomeCoursesCardTitle, .StudentHomeCoursesGoToCourseDirectlyButton {
    width: 100%; }

  #minHeightAndFlex {
    padding: 0;
    justify-content: center; }

  .StudentHomeCoursesCard {
    margin: 0 0 5px; }

  .AboutMeDisplayImageContainer {
    position: initial;
    left: 0px;
    top: 0px; }

  .AboutMeUserNameContainer {
    text-align: left;
    padding-left: 15px; }

  .paperEditorContentAboutMe, .TabsContainer, .AboutMeTabsContainer, .paperViewCourseContainer, .ViewCourseImageContainer, .paperViewCourseCommentContainer, .paperEditorContentTeacher {
    width: 100%; }

  .ViewCourseImageContainer {
    justify-content: center; }

  .AboutMeUserDataContainer {
    padding: 8px 0px; }

  .AboutMeFinishedCourseItemContainer, .AboutMeFinishedCourseItemImage {
    width: 100%; } }

/*# sourceMappingURL=App.css.map */
