@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
    font-family: "Roboto" !important;
    background-image: url("../../src/images/backgroundpattern.png");
    min-width: 368px;
    margin:0;
    position:relative;
    height:100%;
    /* Height of the footer */
    padding: 60px 0 60px;
    height:100%;
}
html {
}
a {
}

/* overwrite of editor script block default padding*/
.ql-snow .ql-editor pre {
    padding: 1em !important;
}

.ql-toolbar.ql-snow {
    background-color: #fff;
}

#editor {
    background-color: #fff;
}

/*

    custom bootstrap css

*/

.navbar-default .navbar-brand {
    display: flex;
    align-items: center;
    padding: 5px;
}

.navbar-brand img {
    height: 100%;
    margin-right: 20px;
}

.navbar.navbar-default {
    position: fixed;
}

#searchIconBackground {
    background-color: #EE7326;
}

#searchIcon {
    color: white;
}

#searchIconBackground:hover {
    transition: 300ms all;
    background-color: #D66722;
}

#profilePicture {
    width: 50px;
    padding: 5px;

}

#profilePictureContainer {
    transition: 200ms all;
    background-color: inherit;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#profilePictureContainer:hover {
    transition: 300ms all;
    background-color: hsl(0, 0%, 90%);
}

#dropdownMenuDiv {
}

#usernameNav {
    font-size: 15px;
    font-weight: bold;
}

#emailNav {
    font-size: 12px;
    top: -7px;
    right: -2px;
    position: relative;
}

#itemNav {
    transition: 300ms all;
    background-color: inherit;
}

#itemNav:hover {
    cursor: pointer;
    transition: 300ms all;
    background-color: hsl(0, 0%, 90%);
}

#userDataNav, #itemNav {
    padding: 10px;
}

#loginButtonNav {
    margin: 10px;
}

li.divider {
    margin: 0 !important;
    margin-bottom: 5px !important;
}

.jumbotron {
    overflow: hidden;
    position: relative;
    left: -17px;
    width: calc(100% + 34px);
    border-radius: 6px 6px 0px 0px !important;
    top: -5px;
}

.jumbotron h1 {
    padding: 50px;
    z-index: 2;
    position: relative;
    color: #fff;
}

.container img {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

.container pre {
    position: relative;
    left: -17px;
    width: calc(100% + 33.9px);
    border-radius: 0px;
}

.container {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;

}

.jumbotron img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
}

/*

 since we're overriding our container for the course page, we make our own!

*/

.containerCustom {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 768px) {
    .containerCustom {
        width: 688px
    }

}

@media (min-width: 992px) {
    .containerCustom {
        width: 912px
    }

}

@media (min-width: 1200px) {
    .containerCustom {
        width: 1120px;
    }

    .content {
        width: 1034px;
    }
}

/*

    chapter tabs css for the editor

*/
/* Style the tab */
div.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    width: 56px;

}

/* Style the buttons inside the tab */
div.tab button {
    color: white;
    border: none;
    outline: none;
    background-color: #EE7326;
    cursor: pointer;
    transition: 0.3s;
    width: 56px;

}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #D66722;

}

/* Create an active/current tablink class */
.tabcontent.active {
    display: block;
    padding: 6px 12px;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Style the tab content */
.content {
    -webkit-animation: fadeEffect 0.3s;
    animation: fadeEffect 0.3s; /* Fading effect takes 1 second */
}

#courseTitle {
    float: left;
    width: 49% !important;
}

.ql-container {
    background-color: #fff;
}

#courseImgUrl {
    float: right;
    width: 49% !important;
}

.tablinks.active {
    background-color: #D66722;
}

#savingText {
    padding-left: 5px;
    padding-right: 5px;
    color: #737373;
    font-weight: lighter;
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.content.hidden {
    display: none;
}

#saveCourseButton {
    transition: 300ms all;
    margin: 19px;
    background-color: #EE7326;
    border-color: #D66722;
}

#saveCourseButton:hover {
    transition: 300ms all;
    background-color: #D66722;
}

#deleteCourseButtonNav {
    top: -17px;
    right: 14px;
    position: relative;
}

@media (min-width: 0px) {
    div.tab {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    div.tab button {
        flex: 1;
        padding: 14px 16px;
        flex-basis: 19%;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@media (min-width: 992px) {
    div.tab {
        width: 56px;
    }

    div.tab button {
        padding: 6px 16px;
        -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }

    div.tab.button:hover {

    }
}

@media (min-width: 1200px) {

}

/*

    all react material ui component custom styling.


*/

.active {
    text-decoration: none !important;
}

/* overriding bootstrap a tag properties*/
a {
    text-decoration: none !important;
}

/* the 'connected to browserSync' every refresh is tiresome okay.*/
#__bs_notify__ {
    display: none !important;
}

@media (min-width: 992px) {
    .heroButtonContainer {
        height: 120px !important;
        justify-content: center !important;
    }

    .heroButton {
        align-self: center;
    }
    .heroDescription {
        width: 440px !important;
    }
}
@media (max-width: 650px) {
    .aboutCardsContainer {
        padding: 5px !important;
    }
}

.aboutCardsComponentContainer {
    transition: all 300ms;
    box-shadow: none;
}

.aboutCardsComponentContainer:hover {
    transition: all 300ms;
    box-shadow: rgba(0,0,0,0.50) 0px 14px 45px;
    box-shadow: rgba(0,0,0,0.50) 0px 10px 18px;
}
.heroContainer {
    padding-left: 24px;
}
#drawerIcon {
    color: rgb(117, 117, 117);
    font-size: 24px;
}
.container222 {
    margin: 0 auto;
    padding: 40px;
    width: 80%;
    color: #333;
    background: #419be0;
}
.editorTabContainer {
    display: flex;
    width:100%;
    justify-content: flex-start;
    flex-direction: column;
}
.content {
    display: flex;
    width:80%;
    margin:auto;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom:20px;
}
.courseTitleImageEditorContainer {
    width:80%;
}
.chapterTitleImageEditorContainer {
    width: 80%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:auto;
    flex-wrap:wrap;
    padding-bottom:20px;
    padding-top:20px;
}
.removeChapterButton {
    align-self: flex-end;
    position:absolute !important;
    top:20px;
}
.cardMediaItem {
    -webkit-animation: fadein 300ms; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 300ms; /* Firefox < 16 */
    -ms-animation: fadein 300ms; /* Internet Explorer */
    -o-animation: fadein 300ms; /* Opera < 12.1 */
    animation: fadein 300ms;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.searchButtonNavbar {
    color: white !important;
}
#minHeight {
    min-height: 500px;
}
.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}