<!DOCTYPE html>
<html>
<head>
    <title>roc-devemy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/libraries/font-awesome.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

{{{body}}}

</body>
</html>